@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}
body{
    padding-top:90px;
    padding-bottom:90px;
}
.pc{
    display:none;
}
@media (max-width:768px){
   
    nav{
        width: 100%;
        height: 87px;
        min-height: 87px;
        background-color: #e0e1dd;
        position: fixed;
        top: 0 !important;
        left: 0 !important;
        z-index: +1;
        box-shadow: 0 0 4px black;
    }
    
    nav div{
        width: 100%;
        height: 50% !important;
    }
    .nav-arriba{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-barra{
        display: flex;
        width: 70%;
        min-height: 70%;
        background-color: white;
        justify-content: center;
        align-items: center;
        border-radius: 4vw;
        overflow: visible;
        
    }
    .lupa{
        color: rgb(196, 196, 196);
        font-size: 20px;
    }
    .nav-barra form{
       
        width: 80%;
        min-width: 80%;
    }
    .nav-barra form input{
        padding: 1em;
    }
    .nav-barra input{
        width: 100%;
        min-width: 100%;
        background: none;
        border: none;
        outline: 0px;
    }
    .nav-icono{
        color: #1b263b;
        width: 10%;
        min-width: 10%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .nav-icono2{
        color: #1b263b;
        width: 10%;
        min-width: 10%;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .nav-abajo{
     display: flex;
     justify-content: center;
     align-items: center;
 
 }
 .shop-icono{
     color: #1b263b;
     font-size: 5vw !important;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .nav-abajo span{
     color: #1b263b;
     font-size: 4vw;
     display: flex;
     justify-content: center;
     align-items: center;
 }
   
    .botones-grandes{
        width: 100%;
        height: 25vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vmax;
      

    }
    .boton{
        background-color: azure;
        width: 30%;
        height: 95%;
        margin: auto ;
        display: flex;
        flex-direction: column;
             
        text-align: center;
        overflow: hidden;
        border-radius: 0.4em;
        box-shadow: 0 0 4px black;
    }
    .boton .arriba{
        width:100%;
        height: 35%;
        background-color: rgb(255, 255, 255);
        order: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-size: 2.3vmax;
        font-weight: bold;
    }
    .boton .abajo{
        width: 100%;
        height: 65%;
        background-color: rgb(255, 255, 255);
        order: 1;
        
    }
    .abajo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .sin-borde{
        margin: 0;
    }
    
    .menu-scroll{
        margin-top: 0.5em;
        display: flex;
        flex-direction: row;
     
       
        height: 10vh;
        overflow-x: scroll;
        overflow-y: hidden;
        align-items: center;
    }
    .menu-scroll div{
       display: flex;
        min-width: 100px !important;
        height: 80%;
        background-color: #008351 ;
        margin: 1em;
      align-items: center;
      text-align: center;
      justify-content: center;
      border-radius: 0.4em;
      color: white;
      font-weight: bold;
    }
    .whatsapp{
        display: block;
        position: fixed;
        bottom: 1em;
        right: 0em;
        width: 20vw;
        height: 20vw;
        background-color: ;
        overflow: hidden;
    }
    .whatsapp img{
width: 100%;
height: 100%;
object-fit: cover;
    }
    .promociones{
        width: 100%;
        height: 45vh;
       
        margin-top: 1em;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        align-items: center;
        
        
    }
    .card{
        height: 95%;
        width: 250px;
        min-width: 250px;
        overflow: hidden;
        border-radius: 0.4em;
        margin-left: 1em;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 4px black;
       
    }
    .card img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card-arriba{
         width: 100% !important;
         height: 40% !important;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
    }
    .card-arriba img{
        width: 100%;
        height: 100%;
        object-fit: cover !important;
    }
    .card-abajo{
        
         width: 100%;
         height: 60%; 
        
         display: flex;
         flex-direction: column;    
    }
    .descuento{
        margin-top: 0.3em;
        background-color: crimson;
        margin-left: 0.5em;
        font-size: 2.5vmax;
        color: white;
        width: fit-content;
        padding-left: 0.4em;
        padding-right: 0.4em;
        border-radius: 0.4em;
    }
    .precio-anterior{
        text-decoration:line-through;
        font-size: 2vmax;
        margin-left: 0.5em;
        font-weight: bold;
    }
    .precio-actual{
        color: crimson;
        font-weight: bold;
        font-size: 3vmax;
        margin-left: 0.5em;
    }
    .card-titulo{
        font-size: 2.5vmax;
        margin-left: 0.5em;
        font-weight: bold;

    }
    .agregar-carrito{
        color: white;
        padding: 0.4em;
        border-radius: 0.4em;
        width: 80%;
        margin: auto;
        background-color:#008351 ;

    }
/*Carrouesel*/

.slyder{
    width: 95%;
   height: 18vh;
   box-shadow: 0 0 4px black;
   margin: auto;
   margin-top: 1em;
   border-radius: 0.4em;
   overflow: hidden;
   position: relative;
  
}

.slideshow-container {
    width: 100%;
    height: 100%;
  
  position: relative;
  margin: auto;
  display: flex;
}
.slideshow-container  img{
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.mySlides {
  display: none;
  
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: -50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}




.fade {
    width: 100%;
    height: 100%;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

}
@media(min-width:769px){
    .movil{
        display:none;
    }
    .nav-pc{
        position: fixed;
        width: 100%;
        height: 110px;
        background-color: white;
        top: 0;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 5px black;
        z-index: +3;
  
    }
   
  .nav-pc-arriba{
  height: 70%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  }
  .logo-pc2{
      width: 15% !important;
     
      overflow: hidden !important;
  }
  .logo-pc2 img{
     width:100%;
  }
  .barra-contenedor-pc{
      width:50%;
      height: 100%;
      
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .atendiendo-pc{
      display: flex;
      width: 20%;
      
  }
  .atendiendo-pc .shop-pc{
      display: flex;
      width: 30%;
      justify-content: center;
      align-items: center;
      
  }
  .shop-pc span{
      color: #05c57c;
      font-size: 4vw;
  }
  .bold{
      color: #05c57c !important;
      font-weight: bold;
  }
  .reserva-pc{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }
  .acciones-pc{
     display: flex;
     width: 20%;
     justify-content: space-around;
    
    
  }
  .acciones-pc span{
      color: rgb(70, 70, 70)!important;
     font-size: 3vw !important;
  }
  .barra-contenedor-pc form{
      display: flex;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .fondo-barra-pc{
      width: 95%;
     height: 50%;
      background-color: white ;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.4em;
      overflow: hidden;
      box-shadow: 0 0 4px black;
  }
  .barra-pc{
      width: 90% !important;
      height: 100%;
  }
  .barra-pc input{
      width: 100%;
      height: 90% ;
      background-color: none;
      border: none;
      outline: none;
  }
  .barra-lupa-pc{
    
      width: 10% !important;
      height: 100% !important;
      background-color: #05c57c !important;
      display: flex;
      justify-content: center !important;
      align-items: center !important;
      align-content: center !important;
      
  }
  .barra-lupa-pc label{
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      align-content: center !important;
      
      
  }
  .nav-pc-abajo{
      height: 30% !important;
      width: 100%;
      display: flex;
      justify-content: center !important;
      align-items: center !important;
      align-content: center !important;
  }
  .nav-pc-abajo ul{
      width: 70%;
      height: 100%;
      display: flex;
      list-style: none;
      justify-content: space-between;
      align-items: center !important;
      align-content: center !important;
  }
  .nav-pc-abajo li a{
      color: black !important;
  }
  .nav-pc-abajo li:hover{
      background-color: rgb(240, 248, 255);
      padding-left:2em ;
      padding-right: 2em;
      border-radius: 0.4em;
      font-weight: bold;
  }







/*Carrouesel*/

.slyder{
width: 100%;
height: 80vh;
box-shadow: 0 0 4px black;
margin: auto;
margin-top: 1em;

overflow: hidden;
position: relative;

}

.slideshow-container {
width: 100%;
height: 100%;

position: relative;
margin: auto;
display: flex;
}
.slideshow-container  img{
width: 100%;
height: 100%;
object-fit: cover !important;
}

.mySlides {
display: none;

}

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
transform: -50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 50px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
background: none;
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}




.fade {
width: 100%;
height: 100%;
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}


@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
.promociones-pc{
    margin-top: 2em;
    display: flex;
    width: 100%;
    height: 65vh;
}
.promociones-pc-iz{
   
    width: 250px;
    height: 100%;
    border-radius: 0.4em;
    overflow: hidden;
}
.promociones-pc-de{
    position: relative;
   display: flex;
    width: calc(100% - 300px);
    height: 100%;
    border-radius: 0.4em;
    overflow: hidden;
  justify-content: center;
}

.promociones-pc-iz img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-pc{
    display: flex;
    flex-direction: column;
    width: 250px;
    min-width: 250px;
    height: 99.5%;
    
    border-radius: 0.4em;
    overflow: hidden;
    margin-left: 1em;
    border: 1px solid rgba(128, 128, 128, 0.534);
}
.card-pc-arr{
    display: flex;
width: 100%;
height: 50%;
min-height: 50%;
background-color: beige;
overflow: hidden;
justify-content: center;
align-items: center;

}
.card-pc-arr img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-pc-aba {
display: flex;
width: 100%;
height: 100%;
flex-direction: column;
padding: 0.4em;
position: relative;
}
.descuento-pc{
    background-color: crimson;
    width: fit-content;
    padding: 0.2em 0.8em 0.2em 0.8em;
    border-radius: 0.4em;
    color: white;
}
.precio-anterior-pc{
    font-size: 18px;
    text-decoration: line-through;
    color: gray;
}
.precio-actual-pc{
    font-size: 25px;
    color: crimson;
    font-weight: bold;
}
.card-titulo-pc{
    font-weight: bold;
    font-size: 15px;
}
.agregar-carrito-pc{
    display: flex;
    width: max-content;
    position: absolute;
    padding: 0.4em;
     background-color: #05c57c;
     bottom: 1em;
     left: 50%;
     transform: translateX(-55%);
     border-radius: 0.4em;
     
}
.agregar-carrito-pc span{
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.ante, .ante2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 50px;
    background-color: #e0e1dd;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    top: 50%;
    transform: translateY( -50%);
    z-index: +1;
    left: 0;
    border: none;
}
 .post, .post2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 50px;
    background-color: #e0e1dd;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    top: 50%;
    transform: translateY( -50%);
    z-index: +1;
    right: 0;
    border: none;
}
.cards-pc, .cards-pc2{
    display: flex;
    overflow: hidden;
    width: 90%;
}
.whatsapp{
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: +2;
}
}