@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}
body{
    padding-top: 122px;
}

@media (max-width:500px ) {
    .pc{
        display: none;
    }
    
    nav{
        width: 100% !important;
        height: 87px;
        min-height: 87px;
        background-color: #e0e1dd;
        position: fixed;
        top: 0 !important;
        left: 0 !important;
        z-index: +1;
        box-shadow: 0 0 4px black;
    }
    
    nav div{
        width: 100%;
        height: 50% !important;
    }
    .nav-arriba{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-barra{
        display: flex;
        width: 70%;
        min-height: 70%;
        background-color: white;
        justify-content: center;
        align-items: center;
        border-radius: 4vw;
        overflow: visible;
        
    }
    .lupa{
        color: rgb(196, 196, 196);
        font-size: 20px;
    }
    .nav-barra form{
       
        width: 80%;
        min-width: 80%;
    }
    .nav-barra form input{
        padding: 1em;
    }
    .nav-barra input{
        width: 100%;
        min-width: 100%;
        background: none;
        border: none;
        outline: 0px;
    }
    .nav-icono{
        color: #1b263b;
        width: 10%;
        min-width: 10%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .nav-icono2{
        color: #1b263b;
        width: 10%;
        min-width: 10%;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .nav-abajo{
     display: flex;
     justify-content: center;
     align-items: center;
 
 }
 .shop-icono{
     color: #1b263b;
     font-size: 5vw !important;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .nav-abajo span{
     color: #1b263b;
     font-size: 4vw;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .bold{
     font-weight: bold;
     color: #1b263b !important;
 }
    .producto-foto-pricipal{
        display: flex;
        margin-top: 1em;
        width: 95% !important;
        height: 30vh !important;
        background-color: antiquewhite;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .producto-foto-pricipal img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .producto-foto-miniatura{
        display: flex;
        width: 95%;
        height: 10vh;
        overflow-y:hidden ;
        overflow-x:  scroll;
        flex-direction: row;
       
        align-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.4em;
    }
    .producto-foto-miniatura div{
        width: 25vw;
        min-width: 25vw;
        height: 98%;
      
       margin-left: 0.5em;
    }
    .producto-foto-miniatura div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .producto-foto-miniatura div img:hover{
        transform: scale(1.1);
        transition: 0.4s;
     
    }
    .producto-nombre{
        margin-top: 0.5em;
        margin-left: 0.5em;
        font-size: 6.5vw;
        font-weight: bold;

    }
    .descuento{
        margin-left: 0.7em;
        font-size: 4.5vw;
        font-weight: bold;  
        background-color: crimson;
        color: white;
        padding-left: 0.5em;
        padding-right: 0.5em;
        border-radius: 0.4em;
    }
    .precio-anterior{
        margin-left: 0.4em;
        font-size: 5.5vw;
     
        text-decoration: line-through;
        color: rgb(65, 65, 65);
       
        border-radius: 0.4em;

    }
    .precio-actual{
        margin-left: 0.4em;
        font-size: 6vw;
        font-weight:bold;  
        color: crimson;
       border-radius: 0.4em;

    }
    .sku{
        display: block;
        margin-top: 1em ;
        margin-left: 0.8em;
        font-size: 4vw;
        font-weight: bold;  
        color: rgb(65, 65, 65);
       border-radius: 0.4em;
    }
    .controles{
        margin-top: 1em;
        display: flex;
        width: 100%;
        height: 8vh;
        align-items: center;
       
    }
    .controles select{
        width: 32%;
        height: 6vh;
        margin-left: 0.7em;
        background: white;
        border-radius: 0.4em;
        border: 1px solid grey;
        outline: 0px;
    }
    .controles span{
        display: flex;
        width: 130%;
        height: 6vh;
        min-height: 6vh;
        margin: auto auto;
        align-items: center;
        justify-content: center;
        margin-left: 1em;
        background-color: #008351;
        border-radius: 0.4em;
        color: white;
        font-weight: bold;
        font-size: 5vw;

    }
    .titulo-descripcion{
        font-size: 4vw;
        color: black;
        font-weight: bold;
        margin-left: 0.7em;
    }
    .whatsapp{
        display: block;
        position: fixed;
        bottom: 1em;
        right: 0em;
        width: 20vw;
        height: 20vw;
       
        overflow: hidden;
    }
    .whatsapp img{
width: 100%;
height: 100%;
object-fit: cover;
    }
    .redes{
        display: flex;
        width: 100%;
        height: 3vh;
    }
    .redes img{
        height: 100%;
        margin-left: 0.7em;
    }
    .compartir{
        margin-left: 0.5em;
        margin-top: 0.5em;
        font-size: 4vw;
    }
    .texto{
        margin-top: 1em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .contenido-descripcion{
        font-size: 1vmax !important;
    }
}
@media (max-width:768px ) {
    .pc{
        display: none;
    }
    nav{
        width: 100%;
        height: 87px;
        min-height: 87px;
        background-color: #e0e1dd;
        position: fixed;
        top: 0 !important;
        left: 0 !important;
        z-index: +1;
        box-shadow: 0 0 4px black;
    }
    
    nav div{
        width: 100%;
        height: 50% !important;
    }
    .nav-arriba{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-barra{
        display: flex;
        width: 70%;
        min-height: 70%;
        background-color: white;
        justify-content: center;
        align-items: center;
        border-radius: 4vw;
        overflow: visible;
        
    }
    .lupa{
        color: rgb(196, 196, 196);
        font-size: 20px;
    }
    .nav-barra form{
       
        width: 80%;
        min-width: 80%;
    }
    .nav-barra form input{
        padding: 1em;
    }
    .nav-barra input{
        width: 100%;
        min-width: 100%;
        background: none;
        border: none;
        outline: 0px;
    }
    .nav-icono{
        color: #1b263b;
        width: 10%;
        min-width: 10%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .nav-icono2{
        color: #1b263b;
        width: 10%;
        min-width: 10%;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .nav-abajo{
     display: flex;
     justify-content: center;
     align-items: center;
 
 }
 .shop-icono{
     color: #1b263b;
     font-size: 5vw !important;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .nav-abajo span{
     color: #1b263b;
     font-size: 3vw;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .bold{
     font-weight: bold;
     color: #1b263b !important;
 }
    .producto-foto-pricipal{
        display: flex;
        margin-top: 1em;
        width: 95%;
        height: 50vh;
        background-color: antiquewhite;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .producto-foto-pricipal img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .producto-foto-miniatura{
        display: flex;
        width: 95%;
        height: 10vh;
        overflow-y:hidden ;
        overflow-x:  scroll;
        flex-direction: row;
       
        align-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.4em;
    }
    .producto-foto-miniatura div{
        width: 25vw;
        min-width: 25vw;
        height: 98%;
      
       margin-left: 0.5em;
    }
    .producto-foto-miniatura div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .producto-foto-miniatura div img:hover{
        transform: scale(1.1);
        transition: 0.4s;
     
    }
    .producto-nombre{
        margin-top: 0.5em;
        margin-left: 0.5em;
        font-size: 6.5vw;
        font-weight: bold;

    }
    .descuento{
        margin-left: 0.7em;
        font-size: 4.5vw;
        font-weight: bold;  
        background-color: crimson;
        color: white;
        padding-left: 0.5em;
        padding-right: 0.5em;
        border-radius: 0.4em;
    }
    .precio-anterior{
        margin-left: 0.4em;
        font-size: 5.5vw;
     
        text-decoration: line-through;
        color: rgb(65, 65, 65);
       
        border-radius: 0.4em;

    }
    .precio-actual{
        margin-left: 0.4em;
        font-size: 6vw;
        font-weight:bold;  
        color: crimson;
       border-radius: 0.4em;

    }
    .sku{
        display: block;
        margin-top: 1em ;
        margin-left: 0.8em;
        font-size: 4vw;
        font-weight: bold;  
        color: rgb(65, 65, 65);
       border-radius: 0.4em;
    }
    .controles{
        margin-top: 1em;
        display: flex;
        width: 100%;
        height: 8vh;
        align-items: center;
       
    }
    .controles select{
        width: 32%;
        height: 6vh;
        margin-left: 0.7em;
        background: white;
        border-radius: 0.4em;
        border: 1px solid grey;
        outline: 0px;
    }
    .controles span{
        display: flex;
        width: 130%;
        height: 6vh;
        min-height: 6vh;
        margin: auto auto;
        align-items: center;
        justify-content: center;
        margin-left: 1em;
        background-color: #008351;
        border-radius: 0.4em;
        color: white;
        font-weight: bold;
        font-size: 5vw;

    }
    .titulo-descripcion{
        font-size: 4vw;
        color: black;
        font-weight: bold;
        margin-left: 0.7em;
    }
    .whatsapp{
        display: block;
        position: fixed;
        bottom: 1em;
        right: 0em;
        width: 10vw;
        height: 10vw;
       
        overflow: hidden;
    }
    .whatsapp img{
width: 100%;
height: 100%;
object-fit: cover;
    }
    .redes{
        display: flex;
        width: 100%;
        height: 3vh;
    }
    .redes img{
        height: 100%;
        margin-left: 0.7em;
    }
    .compartir{
        margin-left: 0.5em;
        margin-top: 0.5em;
        font-size: 4vw;
    }
    .texto{
        margin-top: 1em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-size:3vmax ;
    }
    .contenido-descripcion{
        font-size: 3vmax;
    }
}
@media(min-width:769px){
    .movil{
        display: none;
    }
    .nav-pc{
        position: fixed;
        width: 100%;
        height: 110px;
        background-color: white;
        top: 0;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 5px black;
        z-index: +3;
  
    }
   
  .nav-pc-arriba{
  height: 70%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  }
  .logo-pc2{
      width: 15% !important;
     
      overflow: hidden !important;
  }
  .logo-pc2 img{
     width:100%;
  }
  .barra-contenedor-pc{
      width:50%;
      height: 100%;
      
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .atendiendo-pc{
      display: flex;
      width: 20%;
      
  }
  .atendiendo-pc .shop-pc{
      display: flex;
      width: 30%;
      justify-content: center;
      align-items: center;
      
  }
  .shop-pc span{
      color: #05c57c;
      font-size: 4vw;
  }
  .bold{
      color: #05c57c !important;
      font-weight: bold;
  }
  .reserva-pc{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }
  .acciones-pc{
     display: flex;
     width: 20%;
     justify-content: space-around;
    
    
  }
  .acciones-pc span{
      color: rgb(70, 70, 70)!important;
     font-size: 3vw !important;
  }
  .barra-contenedor-pc form{
      display: flex;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .fondo-barra-pc{
      width: 95%;
     height: 50%;
      background-color: white ;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.4em;
      overflow: hidden;
      box-shadow: 0 0 4px black;
  }
  .barra-pc{
      width: 90% !important;
      height: 100%;
  }
  .barra-pc input{
      width: 100%;
      height: 90% ;
      background-color: none;
      border: none;
      outline: none;
  }
  .barra-lupa-pc{
    
      width: 10% !important;
      height: 100% !important;
      background-color: #05c57c !important;
      display: flex;
      justify-content: center !important;
      align-items: center !important;
      align-content: center !important;
      
  }
  .barra-lupa-pc label{
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      align-content: center !important;
      
      
  }
  .nav-pc-abajo{
      height: 30% !important;
      width: 100%;
      display: flex;
      justify-content: center !important;
      align-items: center !important;
      align-content: center !important;
  }
  .nav-pc-abajo ul{
      width: 70%;
      height: 100%;
      display: flex;
      list-style: none;
      justify-content: space-between;
      align-items: center !important;
      align-content: center !important;
  }
  .nav-pc-abajo li a{
      color: black !important;
  }
  .nav-pc-abajo li:hover{
      background-color: rgb(240, 248, 255);
      padding-left:2em ;
      padding-right: 2em;
      border-radius: 0.4em;
      font-weight: bold;
  }
  .producto-pc{
      display: flex;
      width: 100%;
      height: 70vh;
      min-height:70vh;
      justify-content: center;
      
  }
  .foto-prin-pc{
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 40%;
      min-width: 40%;
      height: 100%;
     
      overflow: hidden;
  }
  .foto-prin-pc img{
   width: 100%;
   height: 100%;
   object-fit: contain;
  }
  .fotos-min-pc{
      display: flex;
      flex-direction: column;
      width: 10%;
      min-width: 10%;
      height: 100%;
      
      justify-content: center;
      align-items: center;
      align-content: center;
  }
  .fotos-min-pc div{
      width: 90%;
      height: calc(100% / 4.5) !important;
      min-height: calc(100% / 4.5) !important;
      overflow: hidden;
 
      margin: auto;
  }
  .fotos-min-pc div img{
      width: 100%;
      height: 100%;
      object-fit: contain;
  }
  .descripcion-pc{
   padding: 0.5em;  
   margin-left: 2em;    
  }
  .descuento{
    background-color: crimson;
    padding-left:1em ;
    padding-right:1em ;
    color: white;
    font-weight: bold;
    border-radius: 0.4em;
    font-size: ;
}
.precio-anterior{
    text-decoration: line-through;
    }
    .precio-actual{
        color: crimson;
        font-weight: bold;
        font-size: 25px;
    }
    .controles{
        margin-top: 0.4em;
        border-radius: 0.4em;
    }
    .controles a{
        background-color: #05c57c;
        padding-left:1em ;
        padding-right:1em ;
        border-radius: 0.4em;
      }
    .controles a span{
        color: white !important;
    }
    .redes img{
        width: 25px;
    }
    .titulo-descripcion{
        font-weight: bold;
    }
.whatsapp{
    position: absolute;
    width:50px !important;
    bottom: 1em;
    right: 4em;
}
.centrado-pc{
    display: flex;
    width: 70%;
}
}